#slide-gall-wrap {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#products_example {
	width:600px;
	height:282px;
	position:relative;
}

#products {
	margin-left:26px;
}

#products .next,#products .prev {
	position:absolute;
	top:127px;
	left:0;
	width:21px;
	height:0;
	padding-top:21px;
	overflow:hidden;
	display:block;
	z-index:101;
}
#products .prev {
	background:url(../img/arrow-prev.png);
}

#products .next {
	left:398px;
	background:url(../img/arrow-next.png);
}

#products .slides_container {
	width:366px;
	height:274px;
	overflow:hidden;
	float:left;
	position:relative;
	border:1px solid #dfdfdf;
}

#products .pagination {
	background:#dfdfdf;
	width:130px;
	padding:5px 5px;
	float:left;
	margin-left:30px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}

#products .pagination li {
	float:left;
  list-style-type: none;
	margin:2px 4px;
}

#products .pagination li a {
  background: none repeat scroll 0 0 #F9F9F9;
  display: block;
  float: left;
  margin: 1px;
  height: 41px;
  overflow: hidden;
  width: 55px;
}

#products .pagination li.current a {
	border:1px solid #7f7f7f;
	margin:0;
}

#slide-gall-wrap a:link,#slide-gall-wrap a:visited {
	color:#599100;
	text-decoration:none;
}

#slide-gall-wrap a:hover,#slide-gall-wrap a:active {
	color:#599100;
	text-decoration:underline;
}